@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
    user-select: none;
}

body,
html {
    padding: 0;
    margin: 0;
    background-color: rgb(115, 115, 115);
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

#main-menu,
#p5-div,
#three-div {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#main-menu {
    z-index: 100;
}








/* o8o                                                               
 `"'                                                               
oooo  ooo. .oo.    .oooooooo  .oooo.   ooo. .oo.  .oo.    .ooooo.  
`888  `888P"Y88b  888' `88b  `P  )88b  `888P"Y88bP"Y88b  d88' `88b 
 888   888   888  888   888   .oP"888   888   888   888  888ooo888 
 888   888   888  `88bod8P'  d8(  888   888   888   888  888    .o 
o888o o888o o888o `8oooooo.  `Y888""8o o888o o888o o888o `Y8bod8P' 
                  d"     YD                                        
                  "Y88888P'                                        
                                                                    */
#compass {
    position: fixed;
    top: 50px;
    left: 50vw;
    width: 700px;
    height: 40px;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: #0004;
    background-image: url('./images/compass.png');
    background-size: auto 40px;
    background-position-x: 330px;
    background-repeat: repeat no-repeat;
    color: rgb(245, 245, 245);
    opacity: 0.7;
}

#crystal {
    position: absolute;
    top: 4vh;
    right: 4vh;

    padding: 4px;
    background-color: #0004;
    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 8px;

}

#crystal-amount {
    margin: 0;
    width: 25px;
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

#crystal-icon {
    width: 25px;
    height: 25px;
    background: url('./images/crystal.png');
    background-size: cover;
    background-position: center;
}


#berry-container {
    position: absolute;
    top: 7.5vh;
    right: 4vh;

    padding: 4px;
    background-color: #0004;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

#berry {
    display: flex;
    align-items: center;
    gap: 8px;
}

#berry-amount {
    width: 25px;
    margin: 0;
    text-align: center;
    font-size: 1.4em;
    color: white;
    font-weight: 500;
}

#berry-icon {
    width: 25px;
    height: 25px;
    background: url('./images/berry.png');
    background-size: cover;
    background-position: center;
}

#food {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

#food-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
    padding: 4px;
    border: 1px white solid;
    border-radius: 4px;
}

.food-meter {
    position: relative;
    width: 16px;
    height: 28px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff2;
}

.food-level {
    position: absolute;
    bottom: 0;
    height: 0%;
    left: 0;
    width: 16px;
    border-radius: 0 0 4px 4px;
    background-color: #fff7;
}

#food-icon {
    width: 25px;
    height: 25px;
    background: url('./images/food.png');
    background-size: cover;
    background-position: center;
}

#sprint-bar {
    position: absolute;
    bottom: 5vh;
    left: calc(50vw - 160px);
    width: 320px;
    padding: 4px;
    background: linear-gradient(90deg, #fff0 0%, #fff7 50%, #fff0 100%);
    opacity: 0;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

#sprint-level {
    height: 6px;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 3px;
}













/* o8o                                                                       
                             `"'                                                                       
ooo. .oo.  .oo.    .oooo.   oooo  ooo. .oo.        ooo. .oo.  .oo.    .ooooo.  ooo. .oo.   oooo  oooo  
`888P"Y88bP"Y88b  `P  )88b  `888  `888P"Y88b       `888P"Y88bP"Y88b  d88' `88b `888P"Y88b  `888  `888  
 888   888   888   .oP"888   888   888   888        888   888   888  888ooo888  888   888   888   888  
 888   888   888  d8(  888   888   888   888        888   888   888  888    .o  888   888   888   888  
o888o o888o o888o `Y888""8o o888o o888o o888o      o888o o888o o888o `Y8bod8P' o888o o888o  `V88V"V8P' 
                                                                                                       
                                                                                                       
                                                                                                        */
#banner {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url('./images/banner.png');
    background-size: cover;
    background-position: center;
    background-position-y: 90%;
    z-index: -1;
}

#blur {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(6px);
}

#menu-content {
    position: relative;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#title-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 8em;
    height: 8em;
    margin-top: 1em;
}

#title {
    margin: 12px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 10em;
    color: white;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#continue-button,
#settings-button,
#start-button,
#back-button {
    padding: 8px;
    width: 300px;
    font-size: 2em;

    background: #fff3;
    color: rgb(216, 216, 216);

    border-radius: 4px;
    border: outset 3px rgb(216, 216, 216);
}

#continue-button {
    width: 340px;
    margin-bottom: 12px;
}

#start-button.new,
#settings-button,
#back-button {
    font-size: 1.72em;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 280px;
}

#continue-button:hover,
#settings-button:hover,
#back-button:hover,
#start-button:hover {
    color: rgb(245, 245, 245);
    border: outset 3px rgb(245, 245, 245);
    background: #fff4;
}

#continue-button:active,
#settings-button:active,
#back-button:active,
#start-button:active {
    color: rgb(216, 216, 216);
    border: inset 3px rgb(216, 216, 216);
    background: #fff3;
}





/* .       .    o8o                                  
                     .o8     .o8    `"'                                  
 .oooo.o  .ooooo.  .o888oo .o888oo oooo  ooo. .oo.    .oooooooo  .oooo.o 
d88(  "8 d88' `88b   888     888   `888  `888P"Y88b  888' `88b  d88(  "8 
`"Y88b.  888ooo888   888     888    888   888   888  888   888  `"Y88b.  
o.  )88b 888    .o   888 .   888 .  888   888   888  `88bod8P'  o.  )88b 
8""888P' `Y8bod8P'   "888"   "888" o888o o888o o888o `8oooooo.  8""888P' 
                                                     d"     YD           
                                                     "Y88888P'           
                                                                          */


#settings-content {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settings-container {
    width: 500px;
    margin-top: 35vh;
    margin-bottom: 10vh;
}

#shadow-container .selector label {
    flex: 1;
}




.selector-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.selector-container p {
    color: white;
    width: 150px;
    margin: 5px;
}

.selector {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selector input {
    display: none;
}

.selector label {
    padding: 12px;
    color: #fffc;
    border: 2px white solid;
    border-width: 2px 0 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector label:hover {
    color: #ffff;
}

.selector label:first-of-type {
    border-radius: 4px 0 0 4px;
    border-width: 2px 0 2px 2px;
}

.selector label:last-of-type {
    border-radius: 0 4px 4px 0;
    border-width: 2px 2px 2px 0;
}

.selector input:checked+label {
    background-color: #fff6;
}

.selector input:checked+label:hover {
    background-color: #fff7;
}



.slidecontainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider {
    flex: 1;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    border-radius: 2px;
    background: white;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slidecontainer p {
    margin: 5px;
    user-select: none;
    color: white;
    width: 150px;
}

.slidecontainer p:nth-child(3) {
    width: 40px;
    text-align: center;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}



.checkcontainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkcontainer p {
    margin: 5px;
    user-select: none;
    color: white;
    width: 150px;
}

.checkcontainer input {
    display: none;
}

.checkcontainer label {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px white solid;
    border-radius: 4px;
    background-color: #fff6;
}

.checkcontainer label:hover {
    background-color: #fff7;
}

.checkcontainer input:checked+label::after {
    position: absolute;
    inset: 0;
    content: '✓';
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 20px;
    color: white;
}








/* oooo                            .o8   o8o                         
`888                           "888   `"'                         
 888   .ooooo.   .oooo.    .oooo888  oooo  ooo. .oo.    .oooooooo 
 888  d88' `88b `P  )88b  d88' `888  `888  `888P"Y88b  888' `88b  
 888  888   888  .oP"888  888   888   888   888   888  888   888  
 888  888   888 d8(  888  888   888   888   888   888  `88bod8P'  
o888o `Y8bod8P' `Y888""8o `Y8bod88P" o888o o888o o888o `8oooooo.  
                                                       d"     YD  
                                                       "Y88888P'  
                                                                   */
#loading-content {
    position: relative;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#loading-grid {
    margin-top: 10vh;
    width: 50vh;
    height: 50vh;

    display: grid;
    grid-template-columns: repeat(10, calc(10%));
    grid-template-rows: repeat(10, calc(10%));
}

.loading-grid-item {
    margin: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 4px;
    background-color: rgba(240, 240, 240, 0.5);
    transition: background-color 0.1s ease;
}

.loading-grid-item.active {
    background-color: rgb(245, 245, 245);
}

#loading-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-img {
    width: 2em;
    height: 2em;
}


#loading-text {
    margin: 8px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(240, 240, 240);
}